<form [formGroup]="addForm" (ngSubmit)="addMessage()">
    <input type="text" id="name" class="form-control" formControlName="pseudo">
    <input type="text" id="name" class="form-control" formControlName="message">
  <button class="btn btn-success" [disabled]="addForm.invalid" type="submit">Ajouter</button>
</form>